@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
}
h1{
    font-family: "Poppins", sans-serif;
}
nav{
    font-family: "Mozilla Headline", sans-serif;
    font-weight: 500;
    color:#FF6B35;
}
h2{
    text-decoration: underline;
    text-decoration-color: blueviolet;
}
#lor{
    color: grey;
    line-height: 2;
    letter-spacing: 3px;
}
#end{
    font-style: italic;
    background-color: coral;
    color: whitesmoke;
}
.img{
    background-color:gainsboro;
}
table{
    border:1.5px solid black;
}
th{
    border: 2px solid salmon;
}
td{
    border:2px solid salmon;
}
#logo{
    text-align: center;
    background-color:#074F57;
    display: flex;
    align-items: center;
    gap: 15px;
    
}