*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI"
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 70px 10px 70px;
    align-items: center;
    background-color: lightyellow;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.img img {
    cursor: pointer;
}

ul {
    list-style: none;
}

.center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.center ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.end ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.box2 {
    text-decoration: none;
    color: black;
}

.box2:hover {
    color: lightgray;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 35px 0 0 0;
    gap: 20px;
}

.header p {
    font-size: 50px;
}

.ultra {
    font-weight: bold;
}

.afterheader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 45px 245px 10px 288px;
}

.afterheader p {
    text-align: center;
    font-size: 25px;
    overflow-wrap: break-word;
}

.mac {
    padding: 55px 0 0 0;
    text-align: center;
}

.mac a {
    padding: 10px;
    text-decoration: none;
    border: 1.5px solid lightseagreen;
    background-color: lightseagreen;
    color: white;
    border-radius: 7px;
}

.version {
    display: flex;
    gap: 10px;
    padding: 50px 0 10px 200px;
}

.version p {
    font-size: 26px;
    padding: 0 0 0 10px;
    align-self: center;
}

.version img {
    width: 50px;
}
.downloader{
    display: grid;
    /* height: 50vh; */
    /* width: 80vw; */
    justify-items: center;
    align-items: center ;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 60px 20px 120px;
    row-gap: 30px;
}
.option{
    /* margin: 5px ; */
    background-color:beige;
    /* border: 2px solid brown; */
    width: 425px;
    height: 315px;
    text-align: center;
    padding: 0;
}
.option h2{
    text-align: center;
    padding-top: 30px;
}
.option p{
    text-align: center;
    padding-top: 30px;
}
.option a{
    text-align: center;
    text-decoration: none;
    border: 2px solid lightgreen;
    color: white;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}
.download{
    padding: 50px 0 0 0;
}
.serial{
    padding: 18px;
    font-size: 12px;
}
.serialno{
    padding: 7px 15px;
    font-size: 10px;
    overflow-wrap: break-word;
}